{% extends "base.html" %}
{% load static %}
{% block content %}
    <main role="main" class="container">
        <div style="margin-bottom: 10px">
            <a href="{% url 'lr-main' %}" class="btn btn-primary" style="margin-bottom: 10px">Назад</a>

        </div>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="text-justify">Manufacturing Department</h1>
                <p class="lead">Вы находитесь на странице управления производством замков.</p>
            </div>
        </div>
        <div class="row"  >
            <div class="col-sm-6" style="margin-top: 10px">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Мои заявки</h5>
                        <p class="card-text">Перейти к просмотру заявок, над которыми я работаю.</p>
                        <a href="{% url 'manufacturing-incoming-my' %}" class="btn btn-primary disabled">Перейти</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" style="margin-top: 10px">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Все входящие заявки</h5>
                        <p class="card-text">
                            Входящие заявки на создание замков.
                        </p>
                        <a href="{% url 'manufacturing-incoming' %}" class="btn btn-primary disabled">Перейти</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" style="margin-top: 10px">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Управление замками</h5>
                        <p class="card-text">Управление замками: версии, обновления и многое другое.</p>
                        <a href="{% url 'manufacturing-lock-list' %}" class="btn btn-primary">Перейти</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" style="margin-top: 10px">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Форма добавления замка</h5>
                        <p class="card-text">Добавление замка после производства.</p>
                        <a href="{% url 'manufacturing-create-lock' %}" class="btn btn-primary">Перейти</a>
                    </div>
                </div>
            </div>

        </div>
    </main>
{% endblock content %}